<!DOCTYPE html>
<html>
<head>
  <title>Iseeincode</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>I See In Code | Contact</title>
  <meta name="description" content="I See In Code Blog/Portfolio"/>
  <meta name="keywords" content="Ruby, Rails, Blog, Projects, portfolio, application"/>
  <meta name="robots" content="contact, follow"/>
  <link rel="stylesheet" href="../../assets/css/reset.css"/>
  <link rel="stylesheet" href="/assets/font-awesome-4.5.0/css/font-awesome.min.css"/>
  <link rel="icon" href="/assets/terminal_icon_v-1.ico"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header role="banner" id="mainHeader">
    <h1 id="mainLogo">

      <!-- <%= link_to "How do I drop in the logo and NOT break the styling?", root_path %> -->
      <a href="welcome/index" title="&gt i see in code &UnderBar;">&gt;<span>I see in code</span><em>_</em></a> 
      <!--
      <%= link_to root_path do %>
        <p>&gt;<span>I see in code</span><em>_</em></p>
      <% end %>
      -->
    </h1>
    <nav role="navigation" id="mainNav">
      <%= link_to 'Blog', posts_path %>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Contact', new_contact_path %>
      <% if user_signed_in? %>
        <% link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>

  <!-- <hr id="headerBottomBorder" class="clear"> 
  You might need this in order to avoid the mess at the top from an alert -->

  <!-- if you want to add the functionality to cycle through blog post titles, check out the video at
  https://www.youtube.com/watch?v=fY2SuLqMD_w&index=14&list=PL23ZvcdS3XPK9Y4DRU-BiJtiY5L_QhUUq 
  and also the following video at 12:30 minutes in...
  https://www.youtube.com/watch?v=6emeXp9z5kQ&index=20&list=PL23ZvcdS3XPK9Y4DRU-BiJtiY5L_QhUUq
  -->

<!-- the following is a notice/alert for user authentication -->
<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert"><%= alert %></p>
<% end %>


<%= yield %>

  <footer role="contentinfo" id="pageFooter">
    <p class="copyright">&copy; 2016 <%= link_to "iseeincode.com", root_path %></p>
    <nav id="footerNav">
        <a href="https://www.instagram.com/iseeincode/" title="Follow me on Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/i_see_in_code" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/bennypaulino" title="GitHub" target="_blank"><i class="fa fa-github-alt"></i></a>
    </nav>
  </footer>

</body>
</html>
